# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learningSpring\learningSpringMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
